{% if error %}
  <h2>{{ error }}</h2>
{% endif %}

{% if question %}
  <h2>{{ question.text }}</h2>
  <form class="" action="{% url 'pollsredo:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <label for="">
        <input type="radio" name="choice" value="{{ choice.id }}">
        {{ choice.text }}
      </label>
      <br>
    {% endfor %}
    <button type="submit" name="submit">Submit</button>
  </form>
{% endif %}
