{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pollsredo/style.css' %}">

{% if question_list %}
  <h2>List of questions</h2>
  <ol class="questions">
    {% for question in question_list %}
      <li>
        <span>{{ question.text }}</span> <a href="{% url 'pollsredo:details' question.id %}">Vote</a>
      </li>
    {% endfor %}
  </ol>
{% endif %}
