{% if question %}
  <h2>{{ question.text }}</h2>
  <ul>
    {% for choice in question.choice_set.all %}
      <li>
        {{ choice.text }} - {{ choice.num_votes }} vote{{ choice.num_votes|pluralize }}
      </li>
    {% endfor %}
  </ul>

<a href="{% url 'pollsredo:polls' %}">Vote again</a>
{% endif %}
